.connect-container {
    font-family: Arial, sans-serif;
  }
  
  h2.light-purple {
    color: #a45dbf; /* Light purple color */
  }
  
  .platform {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }
  
  .icon {
    font-size: 20px;
    color: #6c3aa8; /* Primary purple */
  }
  
  .text-primary {
    color: #1909c7b9;
    font-weight: 500;
  }
  
  .company-info {
    margin-top: 20px;
  }
  
  .company-info p {
    font-weight: bold;
    color: #6c3aa8;
  }
  